<div class="view mblView">
	<div dojoType="dojox.app.container">
        <div dojoType="dojox.mobile.Heading" style="text-align:left;">
            <input id ="searchKeywords" type="search" results="5" value="dojo javascript">
            </input>
            <button id="searchTwitterBtn" dojoType="dojox.mobile.Button" class="greyBtn headingBtn">
                Search Twitter
            </button>
        </div>
        <div id="resultPanel" dojoType="dojox.mobile.View" selected="true">
            <div id="searchResults" style="display:none;">
            </div>
            <div id="findMoreDiv">
                <a id="findMoreLnk">Find more...</a>
            </div>
        </div>
    </div>

	<script type="text/javascript">
		require(["./src/jsonp.js"], function(myjsonp) {
			myjsonp.init();
		});
	</script>
</div>
