<div class="view mblView">
<div dojoType="dojox.app.container" scrollable="true" region="center">
	<div id="mobileListCtrlPanel">
		<div id="mobileListSetBtns">
			<input id="mobileListSet1Btn" type="button" value="Set 1" class="mobileListSelected" onclick="dojox.app.script.mobileLists.switchTo(1);"></input>
			<input id="mobileListSet2Btn" type="button" value="Set 2" class="mobileListUnselected" onclick="dojox.app.script.mobileLists.switchTo(2);"></input>
		</div>

		<div id="dataListHint"><span id="listLengthLabel">5</span> items</div>

		<div style="right:16px;">
			<div id="mobileListAddBtn" class="mblDomButtonBluePlus" onclick="dojox.app.script.mobileLists.add1()"></div>
			<div id="mobileListDelBtn" class="mblDomButtonRedMinus" onclick="dojox.app.script.mobileLists.delete1()"></div>
		</div>
	</div>
	<ul dojoType="dojox.mobile.RoundRectDataList" id="mobileListsDataList" store="dojox.app.script.mobileLists.listsStore" query="{label: '*'}"></ul>
</div>
</div>
