<div class="view mblView">
	<h1 dojoType="dojox.mobile.Heading" region="top">
		Showcase
	</h1>
	<div dojoType="dojox.app.container" scrollable="true" region="center">
        <h2 dojoType="dojox.mobile.EdgeToEdgeCategory">Controls</h2>
        <ul dojoType="dojox.mobile.EdgeToEdgeList" iconBase="images/navigation_list_all_29.png">
            <li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" clickable="true" transitionOptions='{title:"Button",target:"button",url: "#button"}'>
                Buttons<sup>1.6</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="29,0,29,29" clickable="true" transitionOptions='{title:"Form",target:"form",url: "#form"}'>
                Forms<sup>1.6</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="29,0,29,29" clickable="true" transitionOptions='{title:"Switch",target:"switch",url: "#switch"}'>
                Switches<sup>1.7</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="58,0,29,29" clickable="true" transitionOptions='{title:"Flippable",target:"flip",url: "#flip"}'>
                Flippable<sup>1.6</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="87,0,29,29" clickable="true" transitionOptions='{title:"Icon",target:"icon",url: "#icon"}'>
                Icons<sup>1.6</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="116,0,29,29" clickable="true" transitionOptions='{title:"TabBar",target:"tabBar",url: "#tabBar"}'>
                Tab Bar<sup>1.6</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="145,0,29,29" clickable="true" transitionOptions='{title:"Heading",target:"heading",url: "#heading"}'>
                Headings<sup>1.6</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="174,0,29,29" clickable="true" transitionOptions='{title:"Map",target:"map",url: "#map"}'>
                Map (Google)<sup>1.6</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="203,0,29,29" clickable="true" transitionOptions='{title:"List",target:"list",url: "#list"}'>
                Lists<sup>1.6</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="203,0,29,29" clickable="true" transitionOptions='{title:"ListData",target:"listData",url: "#listData"}'>
                List Data<sup>1.7</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="232,0,29,29" clickable="true">
                Gauge<sup>1.7</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="377,0,29,29" clickable="true">
                Chart<sup>1.7</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="377,0,29,29" clickable="true">
                Geo Chart<sup>1.7</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="174,0,29,29" clickable="true">
                OpenLayers Map<sup>1.7</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="261,0,29,29" clickable="true">
                Touch<sup>1.7</sup>
            </li>
        </ul>
        <h2 dojoType="dojox.mobile.EdgeToEdgeCategory">Effects</h2>
        <ul dojoType="dojox.mobile.EdgeToEdgeList" iconBase="images/navigation_list_all_29.png">
            <li dojoType="dojox.mobile.ListItem" iconPos="290,0,29,29" clickable="true" transitionOptions='{title:"Transition",target:"transition",url: "#transition"}'>
                Transitions<sup>1.7</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="406,0,29,29" clickable="true" transitionOptions='{title:"CSS3",target:"css3",url: "#css3"}'>
                CSS 3<sup>1.6</sup>
            </li>
        </ul>
        <h2 dojoType="dojox.mobile.EdgeToEdgeCategory">Data</h2>
        <ul dojoType="dojox.mobile.EdgeToEdgeList" iconBase="images/navigation_list_all_29.png">
            <li dojoType="dojox.mobile.ListItem" iconPos="319,0,29,29" clickable="true" transitionOptions='{title:"JSONP",target:"jsonp",url: "#jsonp"}'>
                JSON P<sup>1.6</sup>
            </li>
            <li dojoType="dojox.mobile.ListItem" iconPos="348,0,29,29" clickable="true" transitionOptions='{title:"AJAX",target:"ajax",url: "#ajax"}'>
                AJAX<sup>1.6</sup>
            </li>
        </ul>
	</div>
	<h1 dojoType="dojox.mobile.Heading" region="bottom">
		Footer
	</h1>
</div>
